In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%cd ..

c:\Users\celin\git\Quennect

In [5]:
df = pd.read_csv('q_total.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6740 entries, 0 to 6739
Data columns (total 88 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0.1                      6740 non-null   int64
 1   Unnamed: 0                        6740 non-null   int64
 2   q_date                            6740 non-null   object
 3   q_year                            6740 non-null   float64
 4   prop_year                         6740 non-null   float64
 5   state                             6740 non-null   object
 6   entity                            6740 non-null   object
 7   utility                           6740 non-null   object
 8   county_1                          6740 non-null   object
 9   poi_name                          6740 non-null   object
 10  region_CAISO                      6740 non-null   int64
 11  region_ERCOT                      6740 non-null   int64
 12  region_ISO-NE                     6740 non-null   int64
 13  region_MISO                       6740 non-null   int64
 14  region_NYISO                      6740 non-null   int64
 15  region_PJM                        6740 non-null   int64
 16  region_SPP                        6740 non-null   int64
 17  region_Southeast (non-ISO)        6740 non-null   int64
 18  region_West (non-ISO)             6740 non-null   int64
 19  total_mw                          6740 non-null   float64
 20  type1_Battery                     6740 non-null   int64
 21  type1_Biofuel                     6740 non-null   int64
 22  type1_Biogas                      6740 non-null   int64
 23  type1_Biomass                     6740 non-null   int64
 24  type1_Coal                        6740 non-null   int64
 25  type1_Diesel                      6740 non-null   int64
 26  type1_Flywheel                    6740 non-null   int64
 27  type1_Gas                         6740 non-null   int64
 28  type1_Geothermal                  6740 non-null   int64
 29  type1_Gravity Rail                6740 non-null   int64
 30  type1_Hybrid                      6740 non-null   int64
 31  type1_Hydro                       6740 non-null   int64
 32  type1_Landfill                    6740 non-null   int64
 33  type1_Methane                     6740 non-null   int64
 34  type1_Nuclear                     6740 non-null   int64
 35  type1_Offshore Wind               6740 non-null   int64
 36  type1_Oil                         6740 non-null   int64
 37  type1_Pumped Storage              6740 non-null   int64
 38  type1_Solar                       6740 non-null   int64
 39  type1_Steam                       6740 non-null   int64
 40  type1_Waste Heat                  6740 non-null   int64
 41  type1_Wind                        6740 non-null   int64
 42  type1_Wood                        6740 non-null   int64
 43  ia_status_Facility Study          6740 non-null   int64
 44  ia_status_Feasibility Study       6740 non-null   int64
 45  ia_status_IA Executed             6740 non-null   int64
 46  ia_status_Operational             6740 non-null   int64
 47  ia_status_System Impact Study     6740 non-null   int64
 48  ia_status_Withdrawn               6740 non-null   int64
 49  tokens                            6740 non-null   object
 50  OID_                              6740 non-null   int64
 51  Join_Count                        6740 non-null   int64
 52  TARGET_FID                        6740 non-null   int64
 53  Join_Count_1                      6740 non-null   int64
 54  TARGET_FID_1                      6740 non-null   int64
 55  OBJECTID                          6740 non-null   int64
 56  Join_Count_12                     6740 non-null   int64
 57  TARGET_FID_12                     6740 non-null   int64
 58  Join_Count_12_13                  6740 non-null   int64
 59  TARGET_FID_12_13                  6740 non-null   int64
 60  F_id                              6740 non-null   object
 61  name                              6740 non-null   object
 62  operator                          6740 non-null   object
 63  operator_wikidata                 6740 non-null   object
 64  power                             6740 non-null   object
 65  substation                        6740 non-null   object
 66  type                              6740 non-null   object
 67  ORIG_FID                          6740 non-null   int64
 68  Lat                               6740 non-null   float64
 69  Long                              6740 non-null   float64
 70  STATE_ABBR                        6740 non-null   object
 71  STATE_NAME                        6740 non-null   object
 72  POP_SQMI                          6740 non-null   float64
 73  COUNTYNAME                        6739 non-null   object
 74  LEGAL_NAME                        6739 non-null   object
 75  CLASSCODE                         6739 non-null   object
 76  LEGAL_DESC                        6739 non-null   object
 77  CLASSCODE_DESC                    6739 non-null   object
 78  GEOID                             5615 non-null   object
 79  votes_dem                         5612 non-null   float64
 80  votes_rep                         5612 non-null   float64
 81  votes_total                       5612 non-null   float64
 82  votes_per_sqkm                    5612 non-null   float64
 83  pct_dem_lead                      5512 non-null   float64
 84  solar_ann_ghi_rn                  6706 non-null   float64
 85  SymbolID                          0 non-null      float64
 86  avg_wind_speed_meters_per_second  6740 non-null   float64
 87  tokens.1                          6740 non-null   object
dtypes: float64(14), int64(51), object(23)
memory usage: 4.5+ MB

In [6]:
df = df.drop(columns=['STATE_ABBR', 'STATE_NAME', 'COUNTYNAME','CLASSCODE','GEOID','OID_','TARGET_FID','TARGET_FID_1', 'OBJECTID','F_id','operator', 'operator_wikidata', 'ORIG_FID', 'LEGAL_DESC', 'CLASSCODE_DESC', 'SymbolID', 'tokens', 'poi_name'])

In [12]:
df.columns

Index(['q_date', 'q_year', 'prop_year', 'state', 'entity', 'utility',
       'county_1', 'region_CAISO', 'region_ERCOT', 'region_ISO-NE',
       'region_MISO', 'region_NYISO', 'region_PJM', 'region_SPP',
       'region_Southeast (non-ISO)', 'region_West (non-ISO)', 'total_mw',
       'type1_Battery', 'type1_Biofuel', 'type1_Biogas', 'type1_Biomass',
       'type1_Coal', 'type1_Diesel', 'type1_Flywheel', 'type1_Gas',
       'type1_Geothermal', 'type1_Gravity Rail', 'type1_Hybrid', 'type1_Hydro',
       'type1_Landfill', 'type1_Methane', 'type1_Nuclear',
       'type1_Offshore Wind', 'type1_Oil', 'type1_Pumped Storage',
       'type1_Solar', 'type1_Steam', 'type1_Waste Heat', 'type1_Wind',
       'type1_Wood', 'ia_status_Facility Study', 'ia_status_Feasibility Study',
       'ia_status_IA Executed', 'ia_status_Operational',
       'ia_status_System Impact Study', 'ia_status_Withdrawn', 'Join_Count',
       'Join_Count_1', 'Join_Count_12', 'TARGET_FID_12', 'Join_Count_12_13',
       'TARGET_FID_12_13', 'name', 'power', 'substation', 'type', 'Lat',
       'Long', 'POP_SQMI', 'LEGAL_NAME', 'votes_dem', 'votes_rep',
       'votes_total', 'votes_per_sqkm', 'pct_dem_lead', 'solar_ann_ghi_rn',
       'avg_wind_speed_meters_per_second', 'tokens.1'],
      dtype='object')

In [8]:
df=df.iloc[:, 2:]

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape[0]

5480

In [ ]:
df.to_csv('mid_cleaning_240228.csv')

In [11]:
df.head()

,q_date,q_year,prop_year,state,entity,utility,county_1,region_CAISO,region_ERCOT,region_ISO-NE,...,POP_SQMI,LEGAL_NAME,votes_dem,votes_rep,votes_total,votes_per_sqkm,pct_dem_lead,solar_ann_ghi_rn,avg_wind_speed_meters_per_second,tokens.1
57,7/6/2016,2016.0,2018.0,OK,AEC,AEC,kingfisher,0,0,0,...,56.6,Payne County,307.0,946.0,1285.0,5.2,-49.7,4.6,3.989896,ramsey
58,5/13/2008,2008.0,2011.0,OK,AEC,AEC,osage,0,0,0,...,56.6,Wagoner County,272.0,1192.0,1479.0,11.9,-62.2,4.5,3.678669,new
59,4/27/2019,2019.0,2023.0,IA,MISO,MidAmerican Energy Company,muscatine,0,0,0,...,56.7,Cherokee County,352.0,987.0,1359.0,3.6,-46.7,4.0,4.295278,sub
60,4/8/2009,2009.0,2010.0,IA,MISO,MidAmerican Energy Company,greene,0,0,0,...,56.7,Polk County,1437.0,1449.0,2964.0,172.9,-0.4,4.0,3.929243,grimes
61,7/21/2020,2020.0,2023.0,IA,MISO,ITC Midwest,hancock,0,0,0,...,56.7,Cerro Gordo County,124.0,200.0,329.0,3.6,-23.1,3.9,4.321520,lime

In [29]:
df = df.drop(columns = ['q_date', 'Join_Count_1', 'Join_Count_12', 'TARGET_FID_12','Join_Count_12_13','TARGET_FID_12_13', 'name', 'power', 'LEGAL_NAME', 'tokens.1', 'Join_Count', 'type', 'substation', 'county_1','state','entity',])

In [50]:
df.columns

Index(['q_year', 'prop_year', 'region_CAISO', 'region_ERCOT', 'region_ISO-NE',
       'region_MISO', 'region_NYISO', 'region_PJM', 'region_SPP',
       'region_Southeast (non-ISO)', 'region_West (non-ISO)', 'total_mw',
       'type1_Battery', 'type1_Biofuel', 'type1_Biogas', 'type1_Biomass',
       'type1_Coal', 'type1_Diesel', 'type1_Flywheel', 'type1_Gas',
       'type1_Geothermal', 'type1_Gravity Rail', 'type1_Hybrid', 'type1_Hydro',
       'type1_Landfill', 'type1_Methane', 'type1_Nuclear',
       'type1_Offshore Wind', 'type1_Oil', 'type1_Pumped Storage',
       'type1_Solar', 'type1_Steam', 'type1_Waste Heat', 'type1_Wind',
       'type1_Wood', 'ia_status_Facility Study', 'ia_status_Feasibility Study',
       'ia_status_IA Executed', 'ia_status_Operational',
       'ia_status_System Impact Study', 'ia_status_Withdrawn', 'Lat', 'Long',
       'POP_SQMI', 'votes_dem', 'votes_rep', 'votes_total', 'votes_per_sqkm',
       'pct_dem_lead', 'solar_ann_ghi_rn', 'avg_wind_speed_meters_per_second',
       'q_date_unix', 'util'],
      dtype='object')

In [46]:
df['util'] = df['utility'].apply(lambda x: x.lower())

In [49]:
df.drop(columns=['utility'], inplace=True)

In [48]:
df['util'].unique()

array(['aec', 'midamerican energy company', 'itc midwest',
       'madison gas and electric company', 'cedar falls utilities',
       'ewington energy systems, llc', 'duke energy indiana, llc',
       'gridunity', 'dairyland power cooperative', 'smmpa',
       'ameren missouri', 'avista', 'pse', 'pacificorp',
       'montana-dakota utilities company', 'montana-dakota utilities co.',
       'northwestern', 'bhct', 'tsgt', 'pgae', 'sdge', 'sce', 'nve',
       'vea', 'glw', 'dcrt', 'srp-pv-pc', 'srp', 'srp-anpp', 'clpt',
       'dominionsc', 'dominion sc', 'duke_fl', 'entergy texas, inc.',
       'east texas electric cooperative',
       'ameren transmission company of illinois', 'entergy', 'gtc',
       'soco', 'aep', 'entergy louisiana, llc', 'ameren illinois',
       'prairie power, inc.', 'southern illinois power cooperative',
       'northern indiana public service company',
       'commonwealth edison company', 'comed', 'pseg',
       'entergy arkansas, llc', 'itc transmission',
       'wolverine power supply cooperative, inc.',
       'northern states power (xcel energy)', 'great river energy',
       'otter tail power company',
       'missouri river energy services (mres)',
       'minnesota power (allete, inc.)', 'xcel energy',
       'southern minnesota municipal power agency',
       'rochester public utilities', 'big rivers electric corporation',
       'minnesota power', 'american transmission co. llc',
       'wisconsin electric power company',
       'wisconsin public service corporation', 'duke energy corporation',
       'indianapolis power & light company',
       'southern indiana gas & electric company d/b/a vectren energy delivery of indiana, inc.',
       'hoosier energy rec, inc.', 'hoosier energy rec inc',
       'duke energy', 'wabash valley power',
       'michigan electric transmission company, llc',
       'consumers energy company', 'michigan public power agency',
       'upper peninsula power company', 'itci',
       'firstenergy solutions corp.', 'dayton', 'atsi', 'deok', 'duke',
       'penelec', 'ovec', 'entergy mississippi, llc',
       'cooperative energy',
       'south mississippi electric power association', 'ppl', 'aps', 'dl',
       'me', 'peco', 'ugi', 'pge', 'dpl', 'pepco', 'bge', 'smeco',
       'dominion', 'jcpl', 'unknown', 'reco'], dtype=object)

In [42]:
df.drop(columns=['entity'], inplace=True)

In [53]:
df_util = pd.get_dummies(df[['util']], prefix=['util'], dtype=int)
df_util.head()

,util_aec,util_aep,util_ameren illinois,util_ameren missouri,util_ameren transmission company of illinois,util_american transmission co. llc,util_aps,util_atsi,util_avista,util_bge,...,util_tsgt,util_ugi,util_unknown,util_upper peninsula power company,util_vea,util_wabash valley power,util_wisconsin electric power company,util_wisconsin public service corporation,"util_wolverine power supply cooperative, inc.",util_xcel energy
57,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df_join = pd.concat([df, df_util], axis=1)

In [55]:
df_join.columns

Index(['q_year', 'prop_year', 'region_CAISO', 'region_ERCOT', 'region_ISO-NE',
       'region_MISO', 'region_NYISO', 'region_PJM', 'region_SPP',
       'region_Southeast (non-ISO)',
       ...
       'util_tsgt', 'util_ugi', 'util_unknown',
       'util_upper peninsula power company', 'util_vea',
       'util_wabash valley power', 'util_wisconsin electric power company',
       'util_wisconsin public service corporation',
       'util_wolverine power supply cooperative, inc.', 'util_xcel energy'],
      dtype='object', length=154)

In [57]:
df_join.drop(columns=['util'], inplace=True)

In [58]:
df_join.head()

,q_year,prop_year,region_CAISO,region_ERCOT,region_ISO-NE,region_MISO,region_NYISO,region_PJM,region_SPP,region_Southeast (non-ISO),...,util_tsgt,util_ugi,util_unknown,util_upper peninsula power company,util_vea,util_wabash valley power,util_wisconsin electric power company,util_wisconsin public service corporation,"util_wolverine power supply cooperative, inc.",util_xcel energy
57,2016.0,2018.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
58,2008.0,2011.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
59,2019.0,2023.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,2009.0,2010.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61,2020.0,2023.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
df_join.shape[0]

5480

In [60]:
df_join.to_csv("data_vectorized_240228.csv")

In [27]:
import time, datetime
df['q_date_unix'] = df['q_date'].apply(lambda s :time.mktime(datetime.datetime.strptime(s, "%m/%d/%Y").timetuple()))